* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#intro {
    background-image: url(./images/bg-intro-desktop.png);
    height: 100vh;
    background-color: hsl(0, 100%, 74%);
}

.intro-text {
    color: #f2ebeb;
}

.neutral-theme {
    background-color:  hsl(248, 32%, 49%);
    color: #fdfcff;
    width: 100%;
    box-shadow: 10px 10px 50px 2px rgba(255, 255, 255, 0);
    /* color: hsl(249, 10%, 26); */
    /* color: hsl(246, 25%, 77%); */
}

.primary-theme {
    background-color: hsl(154, 59%, 51%);
    color: #f8fff7;
    width: 90%;
    box-shadow: 0px 2px 8px 2px rgba(40, 243, 118, 0.5);
}

.primary-theme:hover {
    background-color: #77e2b4;
    color:#edfff9;
}